<div class="table-responsive">
<table class="table table-hover">
    <thead>
    	<tr>
    		<th>Full Name</th>
    		<th>Birth Date</th>
    		<th>Naitve Countery</th>
    		<th>Naitve Town</th>
    		<th>Personal ID</th>
    		<th>Recored Num</th>
    		<th>Language</th>
    		<th>Marital Status</th>
    		<th>Comments</th>
    	</tr>
    </thead>

    <tbody>
    	<tr>
    		<?php 
    			echo "<td>{$patient['public']->fname} {$patient['public']->lname}</td>
		    		<td>{$patient['public']->date_of_birth}</td>
		    		<td>{$patient['public']->n_country}</td>
		    		<td>{$patient['public']->n_town}</td>
		    		<td>{$patient['public']->person_id}</td>
		    		<td>{$patient['public']->recored_number}</td>
		    		<td>{$patient['public']->language}</td>
		    		<td>{$patient['public']->marital_status}</td>
		    		<td>{$patient['public']->comments}</td>";
    		?>
    	</tr>
    </tbody>

</table>
</div>